 [Desktop Entry]
Name=Dreamm
Comment=A bespoke emulator for LucasArts games
Exec=/usr/bin/dreamm
Icon=/usr/share/icons/dreamm.ico
Terminal=false
Type=Application
Categories=Game;Emulator;
